h1 {
  color: navy;
  font-family: verdana;
}
h2 {
  color: navy;
  font-family: arial;
}
a {
  font-size: 18px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  color: red;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:30px;
    width:600px;
    float:left;
    padding:15px; 
}
#section {
    width:350px;
    float:center;
    padding:10px; 
}
p {
  font-family: verdana;
  font-size: 15px;
  color: green;
}
pre {
  font-size: 13px;
  font-style: italics; 
}
